.background {
  display: grid;
  place-items: center;
  height: 100vh;
}

#quote-box {
  display: grid;
  gap: 1rem;
  grid-template-rows: auto 1fr auto;
  width: 550px;
  padding: 2rem;
  text-align: left;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.quote-content {
  display: grid;
  gap: 1rem;
  grid-template-rows: auto auto auto;
  justify-content: space-between;
  margin: 10px;
}

#text {
  font-size: 1.8rem;
  font-weight: 400;
  transition: all 3s;
}

#author {
  text-align: right;
}

a,
button {
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 0.6 em 1.2em;
  background: #1a1a1a;
  cursor: pointer;
}

button {
  margin-left: 330px;
}